/* Estilos para el formulario */
form {
    width: 300px;
    margin: 0 auto;
    text-align: center; /* Centrar el contenido del formulario horizontalmente */
    margin-top: 50px; /* Espacio superior para centrar verticalmente */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left; /* Alinear etiquetas a la izquierda */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; 
}

th {
    padding: 15px;
    background-color: #f2f2f2;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}
